<div class="jumbotron">
  <h1>Kup owoce prosto od rolnika!</h1>
  <p>Czy wiesz jaki procent z ceny owocow jaka widzisz w sklepie trafia do sadownika?</p>
  <p><a class="btn btn-primary btn-lg" href="products" role="button">Zamów owoce</a>
	<p><a class="btn btn-primary btn-lg" href="farms" role="button">Zobacz gospodarstwa</a>
  </p>
</div>